.btn{
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 1.5rem;
  font: var(--h3);

  cursor: pointer;
  background-color: var(--buttons-color);
}

.btn:hover{
  background: var(--color-background);
  color: var(--color-highlight);
}

.btn-sm{
  padding: 0.5rem 1rem;
  font-size: var(--fs-sm);
  border: solid 1px white;
}

.btn-md{
  padding: .75rem 1.5rem;
  font-size: var(--fs-base);
  border: solid 1px white;
}

.btn-lg{
  padding: 1rem 6rem;
  border: solid 1px white;
  width: 100%;
}

.especial{
  display: flex;
}

@media (width < 50rem){
  .btn-lg{
    padding: 1rem 1rem;
    border: solid 1px white;
    width: 100%;
    font: var(h3);
  }
}

@media (width < 22rem){
  .especial{
    display: flex;
    flex-direction: column;
    
  }
}