.container{
  --max-width: 768px;
  width: min(var(--max-width), 100% - 2rem * 2);
  margin-inline: auto;
}

.separator{
  --max-width: 768px;
  width: min(var(--max-width), 100% - 2rem * 2);
  height: 2px;
  background-color: var(--color-highlight);
  margin-top: 2rem;
  margin-inline: auto;
}

.mainseparator{
  width: 100%;
  height: 2px;
  background-color: var(--color-highlight);
  margin-top: 2rem;
  margin-inline: auto;
  
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.space{
  justify-content: space-between;
}

.space-arround{
  justify-content: space-around;
}

.items-center{
align-items: center;
}

.gap-1{
  gap: 1rem;
}

.gap-15{
  gap: 1.5rem;
}

.padding5{
  padding-top: .5rem;
}

.padding1{
  padding-top: 1rem;
}

.padding15{
  padding-top: 1.5rem;
}

.padding2{
  padding-top: 2rem;
}

.padding3{
  padding-top: 3rem;
}

.highlight{
  color: var(--color-highlight);
}

.align{
  text-align: justify;
}
.circle{
  display: inline-block;
  font: var(--h2);
  color: var(--color-highlight);
  background-color: var(--buttons-color);
  border-radius: 5.6rem;
  padding: 5px 20px;
  width: fit-content;
  filter:drop-shadow(0 0 0.15rem #4444dd);
}

.title{
  font: 600 1.3rem/140% var(--font-family-op);
  padding-bottom: 1rem;
  color: var(--color-highlight);
}

.error{
  display: none;
}

@media (width < 21.3rem){
  .error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 50%;
    & img{
      width: 5rem;
    }
  }
}

.xp{
  display: flex;
  flex-direction: column;
}

.experience{
  color: #ffffff53;
}

/*
@media (width < 48rem) and (width >= 27rem) {
  .container{
    --max-width: 48rem;
  }
}

@media (width < 27rem) and (width >= 23rem) {
  .container{
    --max-width: 27rem;
  }
}

@media (width < 23rem) {
  .container{
    --max-width: 23rem;
  }
}