.container{
  --max-width: 1280px;
  width: min(var(--max-width), 100% - 2rem * 2);
  margin-inline: auto;
}

.flex{
  display: flex;
}

.items-center{
align-items: center;
}

.gap-1{
  gap: 1rem;
}

.gap-15{
  gap: 1.5rem;
}

.circle{
  display: inline-block;
  font: var(--h2);
  color: var(--color-highlight);
  background-color: var(--color-primary);
  border-radius: 5.6rem;
  padding: 5px 20px;
}

/*
@media (width < 48rem) and (width >= 27rem) {
  .container{
    --max-width: 48rem;
  }
}

@media (width < 27rem) and (width >= 23rem) {
  .container{
    --max-width: 27rem;
  }
}

@media (width < 23rem) {
  .container{
    --max-width: 23rem;
  }
}